#herder {
    width: 77%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(146, 146, 146,0.4);
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#herder__left {
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items: center;
}

#herder__left div:last-child {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

#herder__left div:last-child a {
    text-decoration: none;
    color: rgba(0, 0, 0,0.8);
}

#herder__left div:last-child a:link {
    text-decoration: none;
}

#herder__left div:last-child a:visited {
    text-decoration: none;
}

#herder__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    margin-right: 15px;
}

#herder__right div {
    display: flex;
    width: 65%;
    height: 60%;
    position: relative;
    background-color: whitesmoke;
    border-radius: 5px;
}

#herder__right div input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: whitesmoke;
}

#herder__right div label {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#herder__right div i {
    position: relative;
    height: 50%;
    left:5px
}

#context {
    width: 63%;
    margin-top: 60px;
}

#danhgia {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#danhgia #left,#right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17%;
}
#danhgia #left h3{
    margin: 0;
}

#img {
    display: flex;
}
#danhgia #right div{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}
#danhgia #right{
    margin-right:1% ;
}

#img #img_chinh {
    width: 50%;
}

#img #img_phu {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
}

#img #img_phu div {
    width: 50%;
}


#infomation__left {
    width: 65%;
}
#infomation{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: 390px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(128, 128, 128,0.5);
}

#infomation__left #top h1{
    margin-top: 0;
    
}

#infomation__left #bottom{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
#infomation__left #bottom #bottom__left #bottom__right{
    width: 40%;
}

#bottom #bottom__left div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#bottom span{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    font-size: 13.5px;
}
#bottom #bottom__right div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#make{
    width: 28%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgba(128, 128, 128,0.2);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#make #make_top{
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: start;
}
#make #make_right{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 10px;
}
#make h1{
    text-align: right;
    color: #42cbf5;
}

#make #make_top select{
    height: 20%;
    margin-bottom:4% ;
    border: none;
    background-color: rgba(128, 128, 128,0.1);
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

#make_right div:first-child{
    display: flex;
    justify-content: space-between;
}
#make_right div:first-child p:first-child{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(160, 158, 158);
    font-size: 15.5px;
}
#make_right div:first-child p:last-child{
    font-weight: bold;
}

#make_right div:last-child{
    display: flex;
    flex-direction: column;
    height: 90%;
}
#make_right div:last-child button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17.8px;
}
#make_right div:last-child button img{
    width: 8%;
    margin-right: 8px;
}
#make_right div:last-child button:first-child{
    margin-bottom: 15px;
    border: none;
    background-color: #42cbf5;
    color: white;
    border-radius: 5px;
}

#make_right div:last-child button:last-child{
    background-color: white;
    border: 1.5px solid #42cbf5;
    color:#42cbf5;
    border-radius: 5px;
}

#review {
    margin-top: 3%;
    border-bottom: 1px solid rgb(128, 128, 128,0.5);
}
#review #review__title{
    display: flex;
    justify-content: space-between;
}
#review #review__title div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#review #review__title div:first-child{
    width: 20%;
}
#review #review__title div:last-child{
    width: 11%;
}
#review #review__title div:last-child a{
    text-decoration: none;
}


#review__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#review__content > div{
    width: 45%;
    margin-bottom: 50px;
    
}
#review__content img:first-child{
    float: left;
    margin-right: 10px;
}


#relatedproducts{
    margin-top: 50px;
    margin-bottom: 100px;
}
#relatedproducts #relatedproducts_tt{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 15px;
}

#relatedproducts_tt .Product_evaluate{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(128, 128, 128,0.1);
    border-radius: 10px;

}

#relatedproducts_tt .Product_evaluate img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

#relatedproducts_tt .Product_evaluate .content__title{
    width: 80%;
}
#relatedproducts_tt .Product_evaluate .content__title .product__title,.star__rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#relatedproducts_tt .Product_evaluate .content__title .product__title i{
    color:  rgb(128, 128, 128,0.5);
    font-size: 22px;
}
#relatedproducts_tt .Product_evaluate .content__title .star__rating p{
    color: rgb(128, 128, 128,0.5);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}


#relatedproducts_tt .Product_evaluate .content__title b{
    color: #42cbf5;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}


#foot{
    height: 500px;
    width: 77%;
    border-top: 1px solid rgb(128, 128, 128,0.5);
    display: flex;
    align-items: center;
    flex-direction: column;

}



#foot__logo{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 750px;
}

#foot #foot__logo img{
    height: 20%;
    margin-bottom: 20px;
}

#subcribe{
    display: flex;
    height: 14%;
    width: 87%;
    background-color: rgb(128, 128, 128,0.2);
    border-radius: 5px;
}

#subcribe label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}


#subcribe input{
    outline: none !important;
    border: none;
    background-color: rgb(128, 128, 128,0);
    width: 60%;
}
#subcribe button{
    border: none;
    background-color: #42cbf5;
    width: 30%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}

#foot__center{
    margin-top: 50px;
    width: 52%;
    display: flex;
    justify-content: space-between;
}

#foot__bottom div{
    width: 35%;
    height: 10%;
}
#foot__bottom{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 40px; */
    height: 200px;
}
#foot__bottom__center{
    width: 50%;
}
#foot__bottom ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}

#icon{
    text-align: right;

}