#herder {
    width: 77%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#herder__left {
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items: center;
}

#herder__left div:last-child {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

#herder__left div:last-child a {
    text-decoration: none;
    color: rgba(0, 0, 0,0.8);
}

#herder__left div:last-child a:link {
    text-decoration: none;
}

#herder__left div:last-child a:visited {
    text-decoration: none;
}

#herder__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    margin-right: 15px;
}

#herder__right div {
    display: flex;
    width: 65%;
    height: 60%;
    position: relative;
    background-color: whitesmoke;
    border-radius: 5px;
}

#herder__right div input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: whitesmoke;
}

#herder__right div label {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#herder__right div i {
    position: relative;
    height: 50%;
    left:5px
}

#context {
    width: 64%;
    margin-top: 60px;
}

#danhgia {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#danhgia #left,#right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17%;
}
#danhgia #left h3{
    margin: 0;
}

#img {
    display: flex;
}
#danhgia #right div{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}
#danhgia #right{
    margin-right:5% ;
}

#img #img_chinh {
    width: 50%;
}

#img #img_phu {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

#img #img_phu div {
    width: 50%;
}


#infomation__left {
    width: 65%;
}
#infomation{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#infomation__left #top h1{
    margin-top: 0;
    
}

#infomation__left #bottom{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
#infomation__left #bottom #bottom__left #bottom__right{
    width: 40%;
}

#bottom #bottom__left div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#bottom #bottom__right div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#make{
    width: 30%;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgba(128, 128, 128,0.5);
}